<html lang="en">
	<%- include("../partials/head.ejs") %>
	<body>
		<%- include("../partials/nav.ejs") %>

		<div class="details container">
			<h2><%= blog.title %></h2>
			<small><%= blog.author %></small>
			<small><%= blog.createdAt.toLocaleString() %></small>
			<br />
			<div class="content">
				<p><%= blog.body %></p>
			</div>
			<a class="delete btn-floating red" data-doc="<%= blog._id %>">
				<i class="material-icons">delete_forever</i>
			</a>
		</div>

		<%- include("../partials/footer.ejs") %>

		<script>
			const trashcan = document.querySelector("a.delete");

			trashcan.addEventListener("click", (e) => {
				const endpoint = `/blogs/${trashcan.dataset.doc}`;

				fetch(endpoint, {
					method: "DELETE",
				})
					.then((response) => response.json())
					.then((data) => (window.location.href = data.redirect))
					.catch((err) => console.log(err));
			});
		</script>
	</body>
</html>
