<html lang="en">
	<%- include('../partials/head.ejs'); %>
	<body>
		<%- include('../partials/nav.ejs'); %>

		<div class="container-fluid mt-5">
			<div class="row">
				<% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
				<div class="col s12 m4">
					<div class="card blue hoverable">
						<div class="card-content white-text">
							<span class="card-title"><%= blog.title %> </span>
							<p><%= blog.snippet %></p>
							<div class="" style="margin-top: 10px">
								<p>Created at: <%= blog.createdAt.toLocaleDateString() %></p>
							</div>
							<div style="margin-top: 3px">
								<p><%= blog.author %></p>
							</div>
						</div>
						<div class="card-action">
							<a href="/blogs/<%= blog._id %>" class="btn red"
								>Read more<i class="material-icons right">send</i></a
							>
						</div>
					</div>
				</div>
				<% }) %> <% } else { %>
				<div class="card" style="margin-top: 5%">
					<div class="card-content black-text">
						<h2>Sorry, there are no blogs</h2>
						<p>You could create some blogs b clicking on the pencil icon.</p>
					</div>
				</div>
				<% } %>
			</div>
		</div>
		<div class="container"></div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
